:root {
  --theme: #0b0c10;
  --darkshade: #1f2833;
  --text: #c5c6c7;
  --border: #69e781;
  --header: #00af80;
}

.textInput {
  border: none;
  border-bottom: 1px solid var(--header) !important;
  color: var(--text) !important;
  margin: 20px 0px !important;
  width: 100% !important;
}

.hrGreen {
  border-top: 2px solid var(--text);
}

.skillsHeader {
  color: var(--text);
}

.pageHeader {
  color: var(--header);
  text-align: center;
  padding: 20px;
}

.labelTime {
  font-size: medium;
  color: var(--text);
  padding-right: 10px;
}

.anticon {
  vertical-align: 0.3em !important;
}

button:active {
  outline: none;
}

button:focus {
  outline: none;
  background-color: var(--header);
}
